# 모델 파일 제외
model/eng_hin.model
model/hin_eng.model

# 경계 박스 JSON 파일 제외
engBB.json
hinBB.json

source_eng/
source_hin/

# Diff_SceneTextEraser 폴더 무시
Diff_SceneTextEraser/

# IndicTransToolkit 폴더 무시
IndicTransToolkit/

# Anaconda sh 삭제
Anaconda3-2024.10-1-Linux-x86_64.sh

__pycache__/
cuda-keyring_1.0-1_all.deb
output/
tmp/

# Mac
.DS_Store
